# Python files.
build
snatch.egg-info
venv
env
__pycache__

# Project development files.
.env
output
customs/*
!customs/directory_listing
!customs/directory_listing/WHAT_TO_PUT_HERE.txt
!customs/extract_metadata
!customs/extract_metadata/WHAT_TO_PUT_HERE.txt
!customs/WHAT_TO_PUT_HERE.txt
!customs/snatch

# IDE configurations.
.idea
.vscode