# Python files.
build
snatch.egg-info
venv
env
__pycache__

# Project development files.
.env
output
customs/*
!customs/extract_metadata
!customs/extract_metadata/WHAT_TO_PUT_HERE.txt
!customs/WHAT_TO_PUT_HERE.txt
!customs/downloads.json

# IDE configurations
.idea
.vscode

