# For General Use
DYMO_API_KEY = "" # -> https://user.tpeoficial.com/pricing then https://user.tpeoficial.com/api/api-keys

# For AI Models
OPENAI_API_KEY = "sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # -> https://platform.openai.com/api-keys

# EmSeek
HUNTER_API_KEY = "" # -> https://hunter.io/api-keys - It will be a matter of using default ones.
HAVE_I_BEEN_PWNED_API_KEY = "" # -> https://haveibeenpwned.com/API/Key

# Visual Scanner
FACE_CHECK_ID_API_KEY = "" # -> https://facecheck.id/Face-Search/API

# Personal Data Scraper
LINKEDIN_AUTH_COOKIE = "" # -> Cookie name: "li_at" - You can view the session cookie here: https://linkedin.com/legal/l/cookie-table#anchor-id1  - A default Chrome session will be opened for manual login if necessary.

# WhatsApp Basic OSINT
WHATSAPP_AUTH_COOKIE = "" # -> https://web.whatsapp.com/ - A default Chrome session will be opened for manual login if necessary.