# For AI Models
OPENAI_API_KEY = "sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # -> https://platform.openai.com/api-keys

# EmSeek
DYMO_API_KEY = "" # -> https://user.tpeoficial.com/pricing then https://user.tpeoficial.com/api/api-keys
HUNTER_API_KEY = "" # -> https://hunter.io/api