alive_progress==3.1.5
autoslot==2022.12.1
beautifulsoup4==4.12.3
beautifultable==1.1.0
Brotli==1.1.0
cartesia==1.0.6
click==8.1.7
dymoapi==0.0.11
easyocr==1.7.1
ExifRead==3.0.0
fitz==0.0.1.dev2
geopy==2.4.1
ghunt==2.2.2
gitignore_parser==0.1.11
GitPython==3.1.43
GitPython==3.1.43
HTMLParser==0.0.2
humanize==4.10.0
ImageHash==4.3.1
inflection==0.5.1
jsonpickle==3.2.2
mediapipe==0.10.14
moviepy==1.0.3
numpy==2.1.1
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
Pillow==10.4.0
polling==0.3.2
polling2==0.5.0
PyAudio==0.2.14
pyfiglet==1.0.2
pyparsing==3.1.4
python-dotenv==1.0.1
python_dateutil==2.9.0.post0
python_whois==0.9.4
pytube==15.0.0
Requests==2.32.3
requests_toolbelt==1.0.0
rich==13.9.1
rich_argparse==1.5.2
scapy==2.5.0
scipy==1.14.1
selenium==4.25.0
setuptools==70.1.0
textual==0.81.0
tqdm==4.66.1
v8eval==0.3.2